.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .sidebar {
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
}

.sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}
.nav-item .item-button {
    width: 100%;
}
.sidebar-heading {
    font-size: 0.75rem;
}

/*
 * Navbar
 */
.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    height: 100%;
}

/*
 * right
 */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.text-shadow-1 {
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
    text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.features-images {
    object-fit: cover;
    height: 320px;
}
